# -------------------------
# Node.js
# -------------------------
node_modules/
build/

# -------------------------
# Python
# -------------------------
venv/
.venv/
env/
myenv/
backend/myenv/

__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/

# -------------------------
# Environment Variables
# -------------------------
.env
backend/.env

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log